
ProSoLoPortal/obj/Debug/netcoreapp3.0/ProSoLoPortal.csprojAssemblyReference.cache
ProSoLoPortal/obj/Debug/netcoreapp3.0/ProSoLoPortal.assets.cache
ProSoLoPortal/.vs/ProSoLoPortal/v16/Server/sqlite3/storage.ide-wal
ProSoLoPortal/.vs/ProSoLoPortal/v16/Server/sqlite3/storage.ide-shm
ProSoLoPortal/.vs/ProSoLoPortal/v16/Server/sqlite3/storage.ide
ProSoLoPortal/.vs/ProSoLoPortal/v16/Server/sqlite3/db.lock
